<h1><%= link_to note.name, subject_note_path(note.subject,note) %></h1>
<p>Subject: <strong><%= link_to subject_name(note), subject_path(note.subject) %></strong></p>
<p>Content: <%= note.content %></p>
