<%= javascript_include_tag 'notes.js' %>
<h1>All Your Notes:</h1>
<br />
<%# <%= link_to "Add A Note" , notes_path, :class => 'btn btn-primary' %1> %>

<br />
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg newnote" data-toggle="modal" data-target="#myModal">
Add a Note
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel"> Pop up </h4>
      </div>
      <div class="modal-body">
        <%= render :partial => 'notes/form', :locals => { :note => @note } %>
      </div>
      <%# <div class="modal-footer"> %>
      <%#   <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> %>
      <%#   <button type="button" class="btn btn-primary" data-dismiss="modal">Add Now!</button> %>
      <%# </div> %>
    </div>
  </div>
</div>

<%# no need to render using rails, going to use js to display notes %>
<%# <%= render(@notes) || "You have no notes." %1> %>
<div id="notes" class="container">
  
</div>
