<h1>All Your Notes:</h1>
<br />
<%# #new path %>
<%# <%= button_to "Add A Note" , notes_path, method: :get %1> %>
<%= link_to "Add A Note" ,
            notes_path,
            :class => 'btn btn-primary' %>
<%= render(@notes) || "You have no notes." %>



